﻿<h2>Movies</h2>
<div id='divPartialView'>
    @Html.Partial("List")
</div>
<script type="text/javascript">
    function linkClick(pageNumber) {
        $.ajax({
            url: '@Url.Action("List")',
            data: { "i": pageNumber },
            success: function (data) {
                $("#divPartialView").html(data);
            }
        });
    }

    linkClick(1);
</script>
