﻿@model IEnumerable<csharp4_lesson8.Models.Movie>
<table>  
<tr>
    <th>@Html.DisplayNameFor(x => x.Title)</th>
    <th>@Html.DisplayNameFor(x => x.ReleaseYear)</th>
</tr>
@if (Model != null)
{
    foreach (var x in Model)
    {
        <tr><td>@x.Title</td><td>@x.ReleaseYear</td></tr>
    }
}
</table>

@for (int pgNum = 1; pgNum <= ViewBag.numpages; pgNum++)
{                        
    <a onclick="linkClick(@pgNum)" href="javascript:void(0)")>@pgNum</a>
                        
}
