﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        nav  a {padding-left:1%}
    </style>
</head>
<body>
    @RenderBody()    
    @RenderSection("scripts", required: false)
</body>
</html>
